@page "/reconcile"
@using Fluxor
@using Presentation.Store.Transaction
@using Fluxor.Blazor.Web.Components
@using Presentation.Components
@using Presentation.Store.Group
@using Transaction = Domain.Transaction

@inherits FluxorComponent

@inject NavigationManager _navigationManager
@inject IState<TransactionState> _transactionState
@inject IState<GroupState> _groupState

@{ var transactionGroups = TransactionGroups.ToArray(); }

<div style="position: fixed; left: 0">
    <div style="
        position:sticky; 
        display: flex; 
        flex-direction: row; 
        gap: 10px; 
        max-width: 935px;
    ">
        <ContentCard>
            <div onclick="@HandleReviewClicked">
                Pending Review
            </div>
            <hr/>
            @foreach (var group in transactionGroups)
            {
                var selected = _selectedGroupName == group.Key;
                var isDefinedGroup = _groupState.Value.Groups.Any(g => g.Name == group.Key);
                <div
                    style="
                        color: @(selected ? "#E8A941" : isDefinedGroup ? "black" : "lightgray"); 
                        stroke-linejoin : round;
                        stroke: black;
                        stroke-width: @(selected ? 1 : 0)px;"
                    @onclick="@(() => { _selectedGroupName = group.Key; StateHasChanged(); })">
                    @group.Key
                </div>
            }
        </ContentCard>
    </div>
</div>

<div style="display: flex; flex-direction: column; justify-content: center;">
    
    @foreach (var transactionGroup in transactionGroups) {
        if(_selectedGroupName != transactionGroup.Key) continue;
        var transactions = transactionGroup.OrderBy(t => t.Date).AsEnumerable();
        <ContentCard>
            <TransactionReconciler
                GroupName="@transactionGroup.Key"
                Transactions="@transactions" />
        </ContentCard>
    }
</div>



@code{
    
    private string _selectedGroupName = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _selectedGroupName = _groupState.Value.Groups.FirstOrDefault()?.Name ?? "Unreconciled";
    }

    private IEnumerable<IGrouping<string, Transaction>> TransactionGroups => _transactionState.Value.Transactions
        .GroupBy(g => g.Group?.Name??"Unreconciled");
    
    private void HandleReviewClicked() => _navigationManager.NavigateTo("/review");
}