@using Domain
<div style="height:100%; display: flex; flex-direction: column">
    <div style="display: flex; flex-direction: column; justify-content: center; height: 80%; min-height: 200px;">
        @{
            var maxHeight = MaxHeight ?? (Bars.Any() ? Bars.Max(b => b.Value) : 0);
            var minHeight = MinHeight ?? (Bars.Any() ? Bars.Min(b => b.Value) : 0);
            minHeight = Math.Min(minHeight, 0);
            maxHeight = Math.Max(maxHeight, 0);
            var barRange = maxHeight - minHeight;
        }
        @* Positive Row *@
        <div style="height: @(maxHeight/barRange*100)%; display: flex; flex-direction: row;">
            @foreach (var bar in Bars) {
                var barPosValue = bar.Value > 0 ? bar.Value : 0;
                var posValue = barPosValue / maxHeight * 100;
                <div
                    @onclick="@(() => bar.OnBarClicked?.Invoke())"
                    style="min-width:25px; height: 100%">
                    <div style="width:25px; height: @(100-posValue)%; background-color: transparent"></div>
                    <div style="width:25px; writing-mode: vertical-rl; overflow-y: hidden; height: @posValue%; background-color: #CCD888">
                        @if(bar.Value > 0){
                            @RenderValueString(bar)
                        }
                    </div>
                </div>
            }    
        </div>
        @* Negative Row *@
        <div style="height: @(Math.Abs(minHeight)/barRange*100)%; display: flex; flex-direction: row;">
            @foreach (var bar in Bars) {
                var barPosValue = bar.Value < 0 ? Math.Abs(bar.Value) : 0;
                var posValue = barPosValue / Math.Abs(minHeight) * 100;
                <div
                    @onclick="@(() => bar.OnBarClicked?.Invoke())"
                    style="min-width:25px; writing-mode: vertical-rl; overflow-y: hidden;  height: @posValue%; background-color: #FF576A">
                    @if (bar.Value < 0) {
                        @RenderValueString(bar)
                    }
                </div>
            }
        </div>
    </div>
    @* Titles *@
    <div
        style="height: 20%; display: flex; flex-direction: row; width: 100%">
        @foreach (var bar in Bars){
            <div
                @onclick="@(() => bar.OnBarClicked?.Invoke())"
                style="min-width:25px; writing-mode: vertical-rl; white-space: nowrap; height: 50px">
                @bar.Text
            </div>
        }
    </div>
</div>
@code {

    [Parameter]
    public IEnumerable<Bar> Bars { get; set; } = Array.Empty<Bar>();

    [Parameter]
    public double? MaxHeight { get; set; } = null;

    [Parameter]
    public double? MinHeight { get; set; } = null;
    
    public struct Bar
    {
        public double Value { get; set; }
        public string Text { get; set; }
        public Action OnBarClicked { get; set; }
        public RenderValue RenderValue { get; set; }

        public Bar() {
            RenderValue = RenderValue.Default;
            OnBarClicked = () => { };
            Value = 0;
            Text = String.Empty;
        }
    }
    
    public enum RenderValue
    {
        Default,
        Thousands,
        Verbose,
        Currency
    }

    private string RenderValueString(Bar bar)
    {
        switch (bar.RenderValue) {
            case RenderValue.Default:
                return Math.Round(bar.Value, 2).ToString();
            case RenderValue.Verbose:
                return bar.Value.ToString();
            case RenderValue.Thousands:
                return Math.Round(bar.Value / 1000) + "k";
            case RenderValue.Currency:
                return Math.Round(bar.Value, 2).ToCurrencyString();
            default:
                throw new ArgumentOutOfRangeException();
        }
    }

}