@using Presentation.Store.Transaction
@using Fluxor
@using Presentation.Store.Group
@using Domain
@using Fluxor.Blazor.Web.Components
@using Presentation.Store.Import
@using Presentation.Store.Imports

@inherits FluxorComponent

@inject IDispatcher _dispatcher;
@inject IState<TransactionState> _transactionState
@inject IState<ImportState> _importState
@inject IState<GroupState> _groupState

<div style="display: flex; flex-direction: column">
    <ContentCard>
        <div style="display: flex; justify-content: space-around">
            <div>
                <div>First Transaction: @FirstTransaction?.Date.ToShortDateString()</div>
                <div>Last Transaction: @LastTransaction?.Date.ToShortDateString()</div>
                <div>@DurationStr</div>
            </div>
            <div>
                <div>Total Transactions: @TotalTransactions</div>
                <div style="display: flex; flex-direction: row">
                    <HorizontalBarChart BarValues="@TotalBars"/>
                </div>
                <div>Net position: @Math.Round(NetPosition, 2).ToCurrencyString()</div>
            </div>
        </div>
    </ContentCard>

    <ContentCard>
        <div>Total Groups: @TotalGroups</div>
        <div style="display: flex; flex-direction: row">
                    
            <div>
                <div>Group</div>
                <BarChartHorizontal Bars="@GroupBars"/>
            </div>
            
            <table>
                <tr>
                    <th>Incoming</th>
                    <th>Outgoing</th>
                    <th>Net</th>
                    <th>/Day</th>
                    <th>/Wk</th>
                    <th>/Mth</th>
                </tr>
                <tbody>
                @foreach (var transaction in TransactionGroups) {
                    <tr>
                        <td>@Math.Round(transaction.Where(c => c.Charge > 0).Sum(t => t.Charge),2).ToCurrencyString()</td>
                        <td>@Math.Round(transaction.Where(c => c.Charge < 0).Sum(t => t.Charge),2).ToCurrencyString()</td>
                        @{ var net = transaction.Sum(t => t.Charge); }
                        <td>@Math.Round(net,2).ToCurrencyString()</td>
                        @{
                            var duration = FirstTransaction == null || LastTransaction == null
                                ? TimeSpan.Zero
                                : LastTransaction.Date - FirstTransaction.Date;
                        }
                        <td>@Math.Round(net/duration.Days,2).ToCurrencyString()</td>
                        @{ const double DAYS_IN_WEEK = 7; }
                        <td>@Math.Round(net/duration.Days*DAYS_IN_WEEK,2).ToCurrencyString()</td>
                        @{ const double DAYS_IN_MONTH = 30.4368499; }
                        <td>@Math.Round(net/ duration.Days*DAYS_IN_MONTH,2).ToCurrencyString()</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <GroupEditor/>
    </ContentCard>
    
    <ContentCard>
        <div>
            <table>
                <thead>
                <td>Transactions</td>
                <td>Date Imported</td>
                <td></td>
                </thead>
                @foreach (var row in GetImportRows())
                {
                    <tr>
                        <td>@row.TransactionIds.Count()</td>
                        <td>@row.Created.ToShortDateString() @row.Created.ToShortTimeString()</td>
                        <td><button @onclick="@(() => HandleDeleteImportClicked(row))">Delete</button></td>
                    </tr>
                }
                
                @if(HasOrphanedImports)
                {
                    <button @onclick="@HandleFixOrphanImportsClicked">Fix Orphan Imports</button>
                }
            </table>
            <TransactionImporter/>
        </div>
    </ContentCard>

</div>

@code {

    private bool HasOrphanedImports
    {
        get
        {
            var allImports = _importState.Value.Imports
                .SelectMany(i => i.TransactionIds)
                .ToArray();
            
            var hasOrphanedImports = false;
            foreach (var t in _transactionState.Value.Transactions)
            {
                var isImported = allImports.Any(i => i == t.Id);
                if (!isImported){
                    hasOrphanedImports = true;
                    break;
                }

            }
            return hasOrphanedImports;
        }
    }

    private int TotalTransactions => _transactionState.Value.Transactions.Count();
    
    private double TotalOutgoing => _transactionState.Value.Transactions
        .Sum(t => t.Charge < 0 ? t.Charge : 0);
    private double TotalIncoming => _transactionState.Value.Transactions
        .Sum(t => t.Charge > 0 ? t.Charge : 0);
    private double NetPosition => _transactionState.Value.Transactions
        .Sum(t => t.Charge);
    private IEnumerable<BarChartHorizontal.Bar> TotalBars =>
        new []{ new BarChartHorizontal.Bar{
            Text = $"Total Outgoing ({Math.Round(TotalOutgoing,2).ToCurrencyString()})",
            Value = TotalOutgoing
        }, new BarChartHorizontal.Bar{
            Text = $"Total Incoming ({Math.Round(TotalIncoming,2).ToCurrencyString()})",
            Value = TotalIncoming
        }};

    private Transaction? FirstTransaction => _transactionState.Value.Transactions
        .OrderBy(t => t.Date).FirstOrDefault();
    private Transaction? LastTransaction => _transactionState.Value.Transactions
        .OrderBy(t => t.Date).LastOrDefault();
    private string DurationStr {
        get {
            var first = FirstTransaction;
            var last = LastTransaction;
            if (first == null || last == null)
                return "Load Transactions";
            
            var duration = last.Date - first.Date;
            // https://stackoverflow.com/a/1925560/783724
            var years = (int)(duration.Days/365.2425);
            var months = (int)(duration.Days/30.436875) - (years * 12);
            return $"{years} years, {months} months.";
        }
    }

    private int TotalGroups => _groupState.Value.Groups.Count();
    private IEnumerable<IGrouping<string, Transaction>> TransactionGroups => _transactionState.Value.Transactions
        .GroupBy(g => g.Group?.Name ?? "Unreconciled")
        .OrderByDescending(g => Math.Abs(g.Sum(g => g.Charge)));
    private IEnumerable<BarChartHorizontal.Bar> GroupBars =>
        TransactionGroups.Select(tg => new BarChartHorizontal.Bar {
            Text = tg.Key,
            Value = tg.Sum( t => t.Charge),
            OnBarClicked = () => HandleGroupClicked(tg)
        });

    private IEnumerable<Import> GetImportRows() => _importState.Value.Imports;

    private void HandleGroupClicked(IGrouping<string, Transaction> transactions)
    {
        
    }

    private void HandleDeleteImportClicked(Import import) => 
        _dispatcher.Dispatch(new ImportDeleteAction(new [] { import }));

    private void HandleFixOrphanImportsClicked() => 
        _dispatcher.Dispatch(new ImportFixOrphanedAction());
    
}