@using Domain
@using System.Reflection.Metadata
@using Presentation.Store.Spending

<ContentCard>
    <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%; margin: 5px; padding: 10px">
        <div style="font-size: larger; text-decoration: underline;" >
            @Month.ToString("MMMM") @Month.ToString("yyyy")    
        </div>

        <BarChartHorizontal
            Bars="@MonthRows"
            MaxBarValue="@MaxMonthNet"/>

        <TransactionSummary
            Spent="@Spent"
            Income="@Income"
            Net="@Net"
        />
    </div>
</ContentCard>

@code {

    [Parameter]
    public DateTime Month { get; set; }

    [Parameter]
    public double Spent { get; set; }

    [Parameter]
    public double Income { get; set; }
    
    [Parameter]
    public double Net { get; set; }

    [Parameter]
    public Action<SpendingMonthGroup> OnMonthGroupClicked { get; set; } = _ => { }; 

    [Parameter]
    public IEnumerable<SpendingMonthGroup> MonthGroups { get; set; } = Array.Empty<SpendingMonthGroup>();
    
    [Parameter]
    public double MaxMonthNet { get; set; }

    private IEnumerable<BarChartHorizontal.Bar> MonthRows =>
        MonthGroups.Select(m => {
            var costPerDay = System.Math.Round(m.Delta / DateTime.DaysInMonth(m.Month.Year, m.Month.Month), 2);
            var netCost = Math.Round(m.Delta, 2);
            var groupName = m.Group?.Name ?? "Unresolved";
            var argTransactionCount = m.TransactionCount;
            return new BarChartHorizontal.Bar(){
                Text = $"{groupName} ({netCost.ToCurrencyString()} in {argTransactionCount}, {costPerDay.ToCurrencyString()}/d)",
                Value = m.Delta,
                OnBarClicked = () => OnMonthGroupClicked?.Invoke(m)
            };
        });

}