@using Domain
@using Presentation.Store.Insights
@using System.Reflection.Metadata

<div style="background-color: white; border: solid 1px lightgrey">
    <div style="display: flex; flex-direction: column">
        @Month.ToString("MMMM") @Month.ToString("yyyy")
        
        @foreach (var month in MonthGroups) {
            var delta = month.Delta;
            <div> @month.GroupName (@Math.Round(delta, 2) in @month.TransactionCount) </div>
        }
        
        Spent: @Math.Round(Spent, 2) <br/>
        Earned: @Math.Round(Earned, 2) <br/>
        Net: @Math.Round(Net, 2)
    </div>
</div>

@code {

    [Parameter]
    public DateTime Month { get; set; }

    [Parameter]
    public double Spent { get; set; }

    [Parameter]
    public double Earned { get; set; }
    
    [Parameter]
    public double Net { get; set; }

    [Parameter]
    public IEnumerable<InsightMonthGroup> MonthGroups { get; set; } = Array.Empty<InsightMonthGroup>();

    [Parameter]
    public double MaxMonthNet { get; set; }

}